<div class="d-lg-flex justify-content-between align-items-center">
  <h1>
    Бронирования
  </h1>

  <div>
    <%= link_to new_office_booking_path, class: "btn btn-sm btn-primary"  do %>
      <i class="bi bi-file-earmark-plus"></i>
      <%= t(".add_booking") %>
    <% end %>
  </div>
</div>


<div style="overflow-x: auto;" class="row flex-nowrap min-vh-100">
  <div class="col-2 bg-light rounded-1 mx-1">
    <h6>Новые</h6>
    <%= render partial: "office/bookings/cards/initial", collection: @bookings["initial"], as: :booking %>
  </div>

  <div class="col-2 bg-light rounded-1 mx-1">
    <h6>Подтвержденные</h6>
    <%= render partial: "office/bookings/cards/confirmed", collection: @bookings["confirmed"], as: :booking %>
  </div>

  <div class="col-2 bg-light rounded-1 mx-1">
    <h6>Выдать авто</h6>
    <%= render partial: "office/bookings/cards/give_out_the_car", collection: @bookings["give_out_the_car"], as: :booking %>
  </div>

  <div class="col-2 bg-light rounded-1 mx-1">
    <h6>Автомобиль в аренде</h6>
    <%= render partial: "office/bookings/cards/start_the_rent", collection: @bookings["start_the_rent"], as: :booking %>
  </div>

  <div class="col-2 bg-light rounded-1 mx-1">
    <h6>Аренда завершается</h6>
    <%= render partial: "office/bookings/cards/end_the_rent", collection: @bookings["end_the_rent"], as: :booking %>
  </div>


  <div class="col-2 bg-light rounded-1 mx-1">
    <h6>Принять авто</h6>
    <%= render partial: "office/bookings/cards/accept_the_car", collection: @bookings["accept_the_car"], as: :booking %>
  </div>

  <div class="col-2 bg-light rounded-1 mx-1">
    <h6>Вернуть залог</h6>
    <%= render partial: "office/bookings/cards/return_the_deposit", collection: @bookings["return_the_deposit"], as: :booking %>
  </div>

  <div class="col-2 bg-light rounded-1 mx-1">
    <h6>Отмененные</h6>
    <%= render partial: "office/bookings/cards/cancelled", collection: @bookings["cancelled"], as: :booking %>
  </div>

  <div class="col-2 bg-light rounded-1 mx-1">
    <h6>Завершенные</h6>
    <%= render partial: "office/bookings/cards/completed", collection: @bookings["completed"], as: :booking %>
  </div>
</div>
