<div class="d-flex justify-content-between align-items-center">
  <h1>
    Бронь №
    <%= @booking.number %>
  </h1>
  <div>
    <div class="modal fade" data-controller="bookings--modal-form" id="car-inspect" tabindex="-1" aria-labelledby="car-inspect-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="car-inspect-label">Состояние машины</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_with model: @booking.car, url: inspect_office_ajax_car_path(@booking.car), local: false, method: :patch, html: {data: {"bookings--modal-form-target": "form"}} do |f| %>
            <%= hidden_field_tag "responsible[id]", current_office_user.id %>
            <%= hidden_field_tag "responsible[type]", current_office_user.class %>

            <div class="modal-body">
                <div class="row m-1">
                  <div class="input-group">
                    <%= f.label :technical_condition, class: "input-group-text" %>
                    <%= f.select :technical_condition, options_for_select(Car::TECHNICAL_CONDITION_TYPES.map { |technical_condition| [localize_technical_condition_type(technical_condition), technical_condition]}), {include_blank: false}, class: "form-select" %>
                  </div>
                </div>
                <div class="row m-1">
                  <div class="input-group">
                    <%= f.label :appearance, class: "input-group-text" %>
                    <%= f.select :appearance, options_for_select(Car::APPEARANCE_TYPES.map { |appearance| [localize_appearance_type(appearance), appearance] }), {include_blank: false}, class: "form-select" %>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
              <%= f.submit "Изменить", class: "btn btn-primary", data: {action: "click->bookings--modal-form#submit"} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% status_manager = Utils::Bookings::StatusManager.new %>
    <%# status change select %>
    <%= form_with model: @booking, url: change_status_office_booking_path(@booking), html: { data: {controller: "bookings--change-status"}}, method: :patch do |f| %>
      <div class="input-group">
        <%= f.label :status, class: "input-group-text" %>
        <%= f.select(
              :status,
              options_for_select(
                status_manager.available_statuses_from(@booking.status),
                selected: @booking.status
              ),
              {include_blank: false},
              class: "form-select",
              data: {action: "change->bookings--change-status#changeStatus"}
            ) %>
        <%= f.submit "Изменить", class: "btn btn-sm btn-primary" %>
      </div>
    <% end %>
  </div>
  <div>
    <%= link_to office_bookings_path, class: "btn btn-sm btn-outline-primary" do %>
      <i class="bi bi-box-arrow-left"></i>
    <% end %>
    <% if @booking.editable? %>
      <%= link_to edit_office_booking_path(@booking), class: "btn btn-sm btn-warning" do %>
        <i class="bi bi-pencil-square"></i>
      <% end %>
    <% end %>
  </div>
</div>

<% calculator = Utils::Bookings::Calculator.new(@booking) %>

<div class="container">
  <div class="row">
    <h2>
      Итого: <span class="badge bg-primary rounded-pill"><%= calculator.run.to_fs(:currency, locale: :kk) %></span>
    </h2>

    <div class="col-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Даты бронирования:</strong>
          <%= @booking.booked_dates %>
        </li>
        <li class="list-group-item">
          <strong>Автомобиль:</strong>
          <%= @booking.car.mark_title %> <%= @booking.car.plate_number %>
        </li>
        <li class="list-group-item">
          <strong>Водитель:</strong>
          <ul>
            <li>
              <strong>Ф.И.О</strong>
              <%= @booking.client.surname_with_initials %>
            </li>
            <li>
              <strong>Телефон:</strong>
              <%= @booking.client.phone %>
            </li>
            <li>
              <strong>ИИН:</strong>
              <%= @booking.client.identification_number %>
            </li>
          </ul>
        </li>
        <li class="list-group-item">
          <strong>Тариф:</strong>
          <%= @booking.offer.title %>
        </li>
        <li class="list-group-item">
          <strong>Цена за сутки:</strong>
          <span class="badge bg-primary rounded-pill">
            <%= calculator.get(:price_for_rent_period).to_fs(:currency, locale: :kk) %>
          </span>
        </li>
        <li class="list-group-item">
          <strong>Сумма залога:</strong>
          <span class="badge bg-primary rounded-pill">
            <%= calculator.get(:booking_pledge_amount).to_fs(:currency, locale: :kk) %>
          </span>
        </li>
        <li class="list-group-item">
          <strong>Доп. услуги:</strong>
          <ul>
            <% @booking.services.each do |service_id, price| %>
              <% next if AdditionalService.find_by(id: service_id).nil? %>
              <li>
                <%= AdditionalService.find_by(id: service_id).title_ru %>
                <span class="badge bg-primary rounded-pill">
                  <%= BigDecimal(price).to_fs(:currency, locale: :kk) %>
                </span>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Количество суток:</strong>
          <span class="badge bg-warning"><%= @booking.booked_dates_count %></span>
        </li>

        <li class="list-group-item">
          <strong>Место приёмки:</strong>
          <%= @booking.pickup_location %>
        </li>
        <li class="list-group-item">
          <strong>Место возврата:</strong>
          <%= @booking.drop_off_location %>
        </li>
      </ul>
    </div>
  </div>
</div>
