<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= active_link_to t(".offers"), office_car_park_car_path(@car_park, @car), class: "nav-link link-dark", active: %r{(office/car_parks/#{@car_park.id}/cars/#{@car.id}|office/car_parks/#{@car_park.id}/cars/#{@car.id}?page=[0-9]{1,})$} %>
  </li>
  <li class="nav-item">
    <%= active_link_to t(".photos"), office_car_park_car_photos_path(@car_park, @car), class: "nav-link link-dark", active: :exact %>
  </li>
  <li class="nav-item">
    <%= active_link_to t(".car_insurances"), office_car_park_car_car_insurances_path(@car_park, @car), class: "nav-link link-dark", active: :exact %>
  </li>
  <li class="nav-item">
    <%= active_link_to t(".car_inspections"), office_car_park_car_car_inspections_path(@car_park, @car), class: "nav-link link-dark", active: :exact %>
  </li>
  <li class="nav-item">
    <%= active_link_to t(".consumables"), office_car_park_car_consumables_path(@car_park, @car), class: "nav-link link-dark", active: :exact %>
  </li>
</ul>
