<div class="d-flex justify-content-between align-items-center">
  <h1><%= t(".title") %></h1>
</div>

<div class="container">
  <article class="alert alert-warning">
    <span>
      <%= t(".article.sentences.first") %>
    </span>
    <span>
      <%= t(".article.sentences.second") %>

    </span>
    <strong>
      <%= t(".article.sentences.third") %>
    </strong>
  </article>

  <div class="row">
    <div class="col col-lg-4">
      <%= form_tag office_temp_password_path, method: :patch do |f| %>
        <%= hidden_field_tag :user_id, current_office_user.id %>

        <div class="form-group">
          <%= label_tag :password, t(".form.new_password"), class: "form-label" %>
          <%= password_field_tag :password, nil, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= label_tag :password_confirmation, t(".form.new_password_confirmation"), class: "form-label" %>
          <%= password_field_tag :password_confirmation, nil, class: "form-control" %>
        </div>

        <%= submit_tag t(".form.save"), class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
