<div class="d-flex justify-content-between align-items-center">
  <h1>
    Заявка №
    <%= @booking.number %>
  </h1>
  <div>
    <% status_manager = Utils::Bookings::StatusManager.new %>
    <%# status change select %>
  </div>
  <div>
    <%= link_to office_bookings_give_outs_completed_index_path, class: "btn btn-sm btn-outline-primary" do %>
      <i class="bi bi-box-arrow-left"></i>
    <% end %>
  </div>
</div>

<% calculator = Utils::Bookings::Calculator.new(@booking) %>

<div class="container">
  <div class="row">
    <div class="col-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Даты бронирования:</strong>
          <%= @booking.booked_dates %>
        </li>
        <li class="list-group-item">
          <strong>Автомобиль:</strong>
          <%= @booking.car.mark_title %> <%= @booking.car.plate_number %>
        </li>
        <li class="list-group-item">
          <strong>Водитель:</strong>
          <ul>
            <li>
              <strong>Ф.И.О</strong>
              <%= @booking.client.surname_with_initials %>
            </li>
            <li>
              <strong>Телефон:</strong>
              <%= @booking.client.phone %>
            </li>
            <li>
              <strong>ИИН:</strong>
              <%= @booking.client.identification_number %>
            </li>
          </ul>
        </li>
        <li class="list-group-item">
          <strong>Тариф:</strong>
          <%= @booking.offer.title %>
        </li>
      </ul>

      <div>
        <%= form_with model: [:office, :bookings_give_outs, @booking], url: office_bookings_give_outs_upcoming_path do |f| %>
          <div class="mt-2">
            <div class="input-group">
              <%= f.label :actual_starts_at, class: "input-group-text" %>
              <%= f.datetime_field :actual_starts_at, class: "form-control", readonly: true %>
            </div>
          </div>

          <div class="mt-2">
            <div class="input-group">
              <%= f.label :actual_ends_at, class: "input-group-text" %>
              <%= f.datetime_field :actual_ends_at, value: @booking.ends_at, class: "form-control", readonly: true %>
            </div>
          </div>

          <div class="mt-2">
            <div class="input-group">
              <%= f.label :pickup_location, class: "input-group-text" %>
              <%= f.text_field :pickup_location, class: "form-control", readonly: true %>
            </div>
          </div>

          <div class="mt-2">
            <div class="input-group">
              <%= fields_for :car, @booking.give_out_appendix do |ff| %>
                <%= ff.label :mileage_before_rent, "Пробег авто", class: "input-group-text" %>
                <%= ff.text_field :mileage_before_rent, class: "form-control",  readonly: true%>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between mb-3">
            <strong>Документы:</strong>
          </div>

          <%= turbo_frame_tag "documents" do %>
            <%= render partial: "office/documents/document", collection: @booking.documents.order(created_at: :desc) %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between mb-3">
            <strong>Комментарии:</strong>
            <div>
              <%= link_to "Добавить комментарий", new_office_comment_path(commentable_id: @booking.id, commentable_type: @booking.class.name), class: "btn btn-sm btn-outline-primary", data: {turbo: true, turbo_frame: dom_id(Comment.new) } %>
            </div>
          </div>

          <%= turbo_frame_tag Comment.new %>

          <%= turbo_frame_tag "comments" do %>
            <%= render partial: "office/comments/comment", collection: @booking.comments.order(created_at: :desc) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
