<div class="d-flex justify-content-between align-items-center">
  <h1>
    <%= @user.full_name %>
  </h1>
  <div>
    <%= link_to t(".back"), admins_users_path, class: "btn btn-primary" %>
    <%= link_to t(".edit"), edit_admins_user_path(@user), class: "btn btn-warning" %>
    <%= link_to t(".destroy"), admins_user_path(@user), class: "btn btn-danger", data: {confirm: t(".sure?"), method: :delete} %>
  </div>
</div>

<div class="container">
  <ul class="list-unstyled">
      <li><%= @user.email %></li>
      <li><%= @user.phone %></li>
      <li><%= @user.kind %></li>
  </ul>
</div>
