<div class="d-flex justify-content-between align-items-center">
  <h1>
    <%= @user.full_name %>
  </h1>
  <div>
    <%= link_to admins_users_path, class: "btn btn-sm btn-primary" do %>
      <i class="bi bi-box-arrow-left"></i>
    <% end %>
    <%= link_to edit_admins_user_path(@user), class: "btn btn-sm btn-warning" do %>
      <i class="bi bi-person-gear"></i>
    <% end %>
    <%= link_to admins_user_path(@user), class: "btn btn-sm btn-danger", data: {confirm: t(".sure?"), turbo_method: :delete} do%>
      <i class="bi bi-person-fill-x"></i>
    <% end %>
  </div>
</div>

<div class="container">
  <ul class="list-unstyled">
      <li><%= @user.email %></li>
      <li><%= @user.phone %></li>
      <li><%= @user.kind %></li>
  </ul>
</div>
