<div class="car-parks__item car-park-card">
  <div class="car-park-card__top">
    <div class="car-park-card__actions">
      <span class="car-park-card__name">
        <%= link_to car_park.title, office_car_park_path(car_park), class: "link link-dark text-decoration-none"  %>
      </span>
      <div class="dropdown options-dropdown">
        <%= button_tag class: "options-dropdown__button", id: "dropdownMenuButton1", type: "button", "data-bs-toggle": "dropdown", "aria-expanded": "false" do %>
          <%= vite_image_tag("images/office/menu-dots.svg") %>
        <% end %>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <%= link_to  edit_office_car_park_path(car_park), class: "link link-dark text-decoration-none" do %>
            <li class="dropdown-item px-1">
              <%= t(".edit") %>
            </li>
          <% end %>

          <%= link_to settings_office_car_park_path(car_park), class: "link link-dark text-decoration-none" do %>
            <li class="dropdown-item px-1">
              <%= t(".settings") %>
            </li>
          <% end %>

          <%= link_to office_car_park_path(car_park), class: "link link-dark text-decoration-none", data: { turbo_confirm: t(".sure?"), turbo_method: :delete } do %>
            <li class="dropdown-item px-1">
              <%= t(".destroy") %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="car-park-card__main">
      <div class="car-park-card__car-count">
        <span><%= t(".cars_count") %></span>
        <p><%= car_park.cars.size %></p>
      </div>
    </div>
  </div>
  <div class="car-park-card__bottom">
    <ul>
      <li>
        <span><%= t(".cars_in_repair") %></span>
        <hr />
        <p><%= t(".car_count", count: car_park.cars.in_repair.size)%></p>
      </li>
      <li>
        <span><%= t(".cars_in_rent") %></span>
        <hr />
        <p><%= t(".car_count", count: car_park.cars.occupied.size)%></p>
      </li>
      <li>
        <span><%= t(".cars_need_repair") %></span>
        <hr />
        <p><%= t(".car_count", count: car_park.cars.need_repair.size)%></p>
      </li>
    </ul>
    <%= link_to office_car_park_path(car_park) do %>
      <%= t(".go") %>
    <% end %>
  </div>
</div>
