<div class="autopark-change__block mt-4">
  <%= form_with model: [:office, car_park], html: {class: "autopark-change-form", data: {controller: "car-park-form", turbo: false}} do |f| %>
    <%= f.hidden_field :user_id, value: current_office_user.id %>

    <div class="autopark-change__toggler">
      <%= f.label :kind_ie, class: "autopark-change__toggler-item" do%>
        <%= f.radio_button :kind, :ie, class: "form-check-input", checked: true, data: {action: "change->car-park-form#changeKind"}%>
        <%= t(".ie") %>
      <% end %>

      <%= f.label :kind_llp, class: "autopark-change__toggler-item" do%>
        <%= f.radio_button :kind, :llp, class: "form-check-input", data: {action: "change->car-park-form#changeKind"}%>
        <%= t(".llp") %>
      <% end %>
    </div>

    <div class="autopark-change-form__block">
      <p class="autopark-change-form__block-title"><%= t(".general_information") %></p>
      <div class="autopark-change-form__input-group">
        <div class="autopark-change-form__input-block">
          <div class="base-input">
            <%= f.label :title%>
            <%= f.text_field :title, placeholder: t(".placeholders.title") %>
            <%= error_field(@errors, :title) %>
          </div>
          <div class="base-input">
            <%= f.label :booking_prefix %>
            <%= f.text_field :booking_prefix, value: f.object.booking_prefix, placeholder: t(".placeholders.booking_prefix")%>
            <%= error_field(@errors, :booking_prefix) %>
          </div>
        </div>

        <div class="autopark-change-form__input-block">
          <div class="base-input">
            <%= f.label :business_id_number %>
            <%= f.text_field :business_id_number, placeholder: t(".placeholders.business_id_number") %>
            <%= error_field(@errors, :business_id_number) %>
          </div>

          <div class="base-input">
            <%= f.label :city_id %>
            <%= f.select :city_id, City.all.pluck(:title, :id), {include_blank: false} %>
          </div>

          <div class="base-input">
            <%= f.label :contact_phone %>
            <%= f.text_field :contact_phone, placeholder: t(".placeholders.contact_phone"), data: {mask: "phone"} %>
            <%= error_field(@errors, :contact_phone) %>
          </div>

          <div class="base-input">
            <%= f.label :email %>
            <%= f.email_field :email, placeholder: t(".placeholders.email") %>
            <%= error_field(@errors, :email) %>
          </div>
        </div>

        <div data-car-park-form-target="ieForm">
          <%= render "office/car_parks/ie_form", f: f %>
        </div>
      </div>
    </div>

    <div class="autopark-change-form__input-block">
      <div class="base-input">
        <%= f.label :bank_name %>
        <%= f.select :bank_name, Utils::Banks::CODES.to_a, {include_blank: true}, data: {action: "change->car-park-form#changeBankName"} %>
        <%= error_field(@errors, :bank_name) %>
      </div>

      <div class="base-input">
        <%= f.label :bank_account_number %>
        <%= f.text_field :bank_account_number %>
        <%= error_field(@errors, :bank_account_number) %>
      </div>
    </div>

    <div class="m-0 d-none" data-car-park-form-target="llpForm">
      <%= render "office/car_parks/llp_form", f: f %>
    </div>

    <%= f.submit t(".save"), class: "autopark-change-form__button"%>
  <% end %>
</div>
