<%= form_with model: [:office, car_park], html: {class: "row mt-12", data: {controller: "car-park-form"}} do |f| %>
  <%= f.hidden_field :user_id, value: current_office_user.id %>

  <div class="col-12 mb-3">
    <p class="form-block-name mb-3">Форма ведения бизнеса</p>
    <div class="form-check form-check-inline">
      <%= f.label :kind_ie, "ИП", class: "form-check-label"%>
      <%= f.radio_button :kind, :ie, class: "form-check-input", checked: true, data: {action: "change->car-park-form#changeKind"}%>
    </div>

    <div class="form-check form-check-inline">
      <%= f.label :kind_llp, "ТОО", class: "form-check-label"%>
      <%= f.radio_button :kind, :llp, class: "form-check-input", data: {action: "change->car-park-form#changeKind"}%>
    </div>
  </div>

  <div class="col-12 mb-3 mb-lg-4">
    <p class="mb-3 form-block-name">Общие данные</p>
    <div class="input-group">
      <%= f.label :title, class: "input-group-text" %>
      <%= f.text_field :title, class: "form-control #{@errors && @errors.dig(:title).present? ? 'is-invalid' : ''}"%>
      <%= error_field(@errors, :title) %>
    </div>
  </div>

  <div class="col-12 mb-3 mb-lg-4">
    <div class="input-group">
      <%= f.label :city_id, class: "input-group-text" %>
      <%= f.select :city_id, City.all.pluck(:title, :id), {include_blank: false}, class: "form-select #{@errors && @errors.dig(:city_id).present? ? 'is-invalid' : ''}" %>
      <%= error_field(@errors, :city_id) %>
    </div>
  </div>

  <div class="col-12 mb-3 mb-lg-4">
    <div class="input-group">
      <%= f.label :business_id_number, class: "input-group-text" %>
      <%= f.text_field :business_id_number, class: "form-control #{@errors && @errors.dig(:business_id_number).present? ? 'is-invalid' : ''}" %>
      <%= error_field(@errors, :business_id_number) %>
    </div>
  </div>

  <div class="col-12 mb-3 mb-lg-4">
    <div class="input-group">
      <%= f.label :contact_phone, class: "input-group-text" %>
      <%= f.text_field :contact_phone, class: "form-control  #{@errors && @errors.dig(:contact_phone).present? ? 'is-invalid' : ''}", data: {mask: "phone"} %>
      <%= error_field(@errors, :contact_phone) %>
    </div>
  </div>

  <div class="col-12 mb-3 mb-lg-4">
    <div class="input-group">
      <%= f.label :email, class: "input-group-text" %>
      <%= f.email_field :email, class: "form-control  #{@errors && @errors.dig(:email).present? ? 'is-invalid' : ''}" %>
      <%= error_field(@errors, :email) %>
    </div>
  </div>

  <div class="m-0" data-car-park-form-target="ieForm">
    <%= render "office/car_parks/ie_form", f: f %>
  </div>

  <div class="col-12 mb-3 mb-lg-4">
    <div class="input-group">
      <%= f.label :bank_name, class: "input-group-text" %>
      <%= f.select :bank_name, Utils::Banks::CODES.to_a, {include_blank: true}, class: "form-select  #{@errors && @errors.dig(:bank_name).present? ? 'is-invalid' : ''}", data: {action: "change->car-park-form#changeBankName"} %>
      <%= error_field(@errors, :bank_name) %>
    </div>
  </div>

  <div class="col-12 mb-3 mb-lg-4">
    <div class="input-group">
      <%= f.label :bank_account_number, class: "input-group-text" %>
      <%= f.text_field :bank_account_number, class: "form-control #{@errors && @errors.dig(:bank_account_number).present? ? 'is-invalid' : ''}" %>
      <%= error_field(@errors, :bank_account_number) %>
    </div>
  </div>

  <div class="m-0 d-none" data-car-park-form-target="llpForm">
    <%= render "office/car_parks/llp_form", f: f %>
  </div>

  <div class="col-12 mb-3">
    <%= f.submit t(".save"), class: "btn btn-success" %>
  </div>
<% end %>
