<div class="col mb-3">
  <div class="input-group">
    <%= f.label :card_id_number, class: "input-group-text" %>
    <%= f.text_field :card_id_number, class: "form-control" %>
  </div>
</div>
<div class="col mb-3">
  <div class="input-group">
    <%= f.label :privateer_number, class: "input-group-text" %>
    <%= f.text_field :privateer_number, class: "form-control" %>
  </div>
</div>

<div class="col mb-3">
  <div class="input-group">
    <%= f.label :privateer_date, class: "input-group-text" %>
    <%= f.date_field :privateer_date, class: "form-control" %>
  </div>
</div>

<div class="col mb-3">
  <div class="input-group">
    <%= f.label :residence_address, class: "input-group-text" %>
    <%= f.text_field :residence_address, class: "form-control" %>
  </div>
</div>

