<div class="autopark-change-form__input-block">
  <div class="base-input">
    <%= f.label :legal_address %>
    <%= f.text_field :legal_address %>
    <%= error_field(@errors, :legal_address) %>
  </div>

  <div class="base-input">
    <%= f.label :service_phone %>
    <%= f.text_field :service_phone, data: {mask: "phone"} %>
    <%= error_field(@errors, :service_phone) %>
  </div>
</div>

<div class="autopark-change-form__input-block mt-3">
  <div class="base-input">
    <%= f.label :bank_code %>
    <%= f.text_field :bank_code %>
    <%= error_field(@errors, :bank_code) %>
  </div>

  <div class="base-input">
    <%= f.label :benificiary_code %>
    <%= f.text_field :benificiary_code, value: 17 %>
    <%= error_field(@errors, :benificiary_code) %>
  </div>
</div>
