<div class="d-flex justify-content-between align-items-center">
  <h1><%= t(".title") %></h1>
  <div>
    <%= link_to t(".back"), office_root_path, class: "btn btn-outline-primary" %>
    <%= link_to t(".new_car_park"), new_office_user_car_park_path(current_office_user), class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <% if @car_parks.any?%>
    <%= render @car_parks %>
  <% else %>
    <p><%= t(".no_car_parks") %></p>
  <% end %>
</div>
