
<div class="car-parks__actions">
  <h1><%= t(".title") %></h1>
  <%= link_to office_car_parks_path do %>
    <%= t(".back") %>
  <% end %>
</div>

<div class="container">
  <%= turbo_frame_tag @car_park do %>
    <%= render "form", car_park: @car_park %>
  <% end %>
</div>
