<div class="parks-auto-actions d-flex justify-content-between align-items-center">
  <div class="parks-auto-actions__info d-flex align-items-center">
    <h1><%= @car_park.title %></h1>
  </div>
  <div class="parks-auto-actions__buttons">
    <div class="parks-auto-actions__add-button">
      <%= link_to office_car_park_path(@car_park) do %>
        <%= t(".back") %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="parks-settings__list">
    <div class="parks-settings-card">
      <p class="parks-settings-card__title"><%= t(".rental_days_range") %></p>
      <div class="dropdown options-dropdown parks-settings-card__options">
        <button
          class="options-dropdown__button"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <%= vite_image_tag("images/office/menu-dots.svg") %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li class="dropdown-item"><%= t(".destroy") %></li>
          <li class="dropdown-item dropdown-item--active"><%= t(".edit") %></li>
        </ul>
      </div>
      <span class="parks-settings-card__text">
        <%= raw t(".rental_days_range_description") %>
      </span>
      <%= link_to t(".configure"), office_car_park_price_range_path(@car_park, @car_park.price_range), class: "parks-settings-card__button" %>
    </div>

    <div class="parks-settings-card">
      <p class="parks-settings-card__title"><%= t(".rental_rules") %></p>
      <div class="dropdown options-dropdown parks-settings-card__options">
        <button
          class="options-dropdown__button"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <%= vite_image_tag("images/office/menu-dots.svg") %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li class="dropdown-item"><%= t(".destroy") %></li>
          <li class="dropdown-item dropdown-item--active"><%= t(".edit") %></li>
        </ul>
      </div>
      <span class="parks-settings-card__text">
        <%= raw t(".rental_rules_description") %>
      </span>
      <%= link_to t(".configure"), office_car_park_rental_rule_root_path(@car_park), class: "parks-settings-card__button" %>
    </div>

    <div class="parks-settings-card">
      <p class="parks-settings-card__title"><%= t(".additional_services") %></p>
      <div class="dropdown options-dropdown parks-settings-card__options">
        <button
          class="options-dropdown__button"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <%= vite_image_tag("images/office/menu-dots.svg") %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li class="dropdown-item"><%= t(".destroy") %></li>
          <li class="dropdown-item dropdown-item--active"><%= t(".edit") %></li>
        </ul>
      </div>
      <span class="parks-settings-card__text">
        <%= raw t(".additional_services_description") %>
      </span>
      <%= link_to t(".configure"), office_car_park_additional_services_path(@car_park), class: "parks-settings-card__button" %>
    </div>
  </div>
</div>
