<div class="d-flex justify-content-between align-items-center">
  <h1>
    <%= @car_park.title %>
  </h1>
  <div>
    <%= link_to office_car_parks_path, class: "btn btn-sm btn-outline-primary" do %>
      <i class="bi bi-box-arrow-left"></i>
    <% end %>
    <%= link_to edit_office_car_park_path(@car_park), class: "btn btn-sm btn-warning" do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
    <%= link_to office_car_park_path(@car_park), class: "btn btn-sm btn-danger", data: {turbo_confirm: t(".sure?"), turbo_method: :delete} do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </div>
</div>

<div class="container">
  <% if @car_park.cars.any?%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <%= link_to new_office_car_park_car_path(@car_park), class: "btn btn-sm btn-primary"  do %>
            <i class="bi bi-file-earmark-plus"></i>
            <%= t(".add_car") %>
          <% end %>

          <table class="table table-striped table-hover mt-4">
            <thead class="table-dark">
              <tr>
                <th><%= t(".table.header.id")%></th>
                <th><%= t(".table.header.city")%></th>
                <th><%= t(".table.header.mark")%></th>
                <th><%= t(".table.header.plate_number")%></th>
                <th><%= t(".table.header.status")%></th>
              </tr>
            </thead>
            <tbody>
              <%= render @car_park.cars %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% else %>
    <div class="alert alert-info" role="alert">
      <%= t(".no_cars") %>
      <%= link_to t(".add_car"), new_office_car_park_car_path(@car_park), class: "alert-link" %>
    </div>
  <% end %>
</div>
