<div class="d-flex justify-content-between align-items-center">
  <h1>
    <%= @mark.title %>
  </h1>
  <div>
    <%= link_to admins_marks_path, class: "btn btn-sm btn-primary" do %>
      <i class="bi bi-box-arrow-left"></i>
    <% end %>
    <%= link_to edit_admins_mark_path(@mark), class: "btn btn-sm btn-warning" do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
    <%= link_to admins_mark_path(@mark), class: "btn btn-sm btn-danger", data: {confirm: t(".sure?"), turbo_method: :delete} do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </div>
</div>

<div class="container">
  <ul class="list-unstyled">
      <li><%= @mark.brand.title %></li>
      <li><%= @mark.title %></li>
      <li><%= localize_body_type(@mark.body)%></li>
  </ul>
</div>
