<%= turbo_frame_tag consumable_log, class: "consumable-card" do %>
    <div class="dropdown options-dropdown consumable-card__menu">
      <button
        class="options-dropdown__button"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <%= vite_image_tag("images/office/menu-dots.svg") %>
      </button>
      <ul
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton1"
      >
        <%= link_to edit_office_car_park_car_consumable_consumable_log_path(@car_park, @car, @consumable, consumable_log), class: "dropdown-item" do %>
          <%= t(".edit") %>
        <% end %>

        <%= link_to office_car_park_car_consumable_consumable_log_path(@car_park, @car, @consumable, consumable_log), data: {turbo_method: :delete, turbo_confirm: t(".sure?")}, class: "dropdown-item" do %>
          <%= t(".delete") %>
        <% end %>
      </ul>
    </div>
    <div class="consumable-card__header">
      <p class="consumable-card__title">Запись о расходнике</p>
      <span class="consumable-card__subtitle"><%= consumable_log.date.strftime("%d.%m.%Y")%></span>
    </div>
    <ul class="consumable-card__body">
      <li class="consumable-card__item">
        <span class="consumable-card__item-name"
          >Пробег при замене, км</span
        >
        <p class="consumable-card__item-value">
          <%= consumable_log.mileage_when_replacing %>
        </p>
      </li>
      <li class="consumable-card__item">
        <span class="consumable-card__item-name"
          >Пробег при следующей замене, км:</span
        >
        <p class="consumable-card__item-value">
          <%= consumable_log.mileage_at_next_replacing %>
        </p>
      </li>
      <li class="consumable-card__item">
        <span class="consumable-card__item-name"
          >Коментарий: <img src="./icons/pencle.svg" alt=""
        /></span>
        <p class="consumable-card__item-value">
          <%= consumable_log.description %>
        </p>
      </li>
    </ul>
<% end %>
