<%= form_with model: [:office, owner, car, consumable, consumable_log] do |f| %>
  <%= f.hidden_field :consumable_id, value: consumable.id %>

  <div class="base-input">
    <%= f.label :date %>
    <%= f.date_field :date %>
    <%= error_field(@errors, :date) %>
  </div>

  <div class="base-input mt-3">
    <%= f.label :mileage_when_replacing %>
    <%= f.number_field :mileage_when_replacing, class: "form-control" %>
    <%= error_field(@errors, :mileage_when_replacing) %>
  </div>

  <div class="base-input mt-3">
    <%= f.label :mileage_at_next_replacing %>
    <%= f.number_field :mileage_at_next_replacing, class: "form-control" %>
    <%= error_field(@errors, :mileage_at_next_replacing) %>
  </div>

  <div class="base-input mt-3">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
    <%= error_field(@errors, :description) %>
  </div>

  <%= f.submit t(".submit"), class: "base-button base-button--info base-button--sm mt-3" %>
  <%= link_to t(".cancel"), office_car_park_car_consumable_path(owner, car, consumable), class: "base-button base-button--grey base-button--sm mt-3" %>
<% end %>
