<div class="container mt-4 justify-content-center">
  <div class="offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}, html: {class: "auth-form"}) do |f| %>
      <h1><%= t(".sign_in") %></h1>
      <div class="auth-form__input-group">
        <div class="auth-form__email base-input">
          <%= f.label t(".email"), for: "office_user_email"%>
          <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "Введите почту" %>
        </div>
      </div>
      <div class="auth-form__password base-input">
        <%= f.label t(".password"), for: "office_user_password" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Введите пароль" %>
      </div>
      <div class="auth-form__password-block">
        <%= link_to t(".forgot_password"), new_office_user_password_path, class: "auth-form__forgot-password" %>
      </div>
      <%= f.submit t(".submit"), class: "auth-form__button"%>
    <% end %>
    <div class="auth-links">
      <a href="#">Помощь</a>
      <a href="#">Политика безопастности</a>
      <a href="#">Условия пользования</a>
    </div>
  </div>
</div>
