<div class="d-flex justify-content-between align-items-center">
  <h1>
    <%= @car.mark_title %>
    <span class="text-secondary small fs-5 font-monospace"><%= @car.plate_number %></span>
  </h1>
  <div>
    <%= link_to office_car_park_car_path(@car_park, @car), class: "base-button base-button--info base-button--sm" do %>
      <%= t(".back") %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= render "form", car: @car, owner: @car_park %>
</div>
