<div class="d-flex justify-content-between align-items-center">
  <h1>
    <%= @car.mark_title %>
    <span class="text-secondary small fs-5 font-monospace"><%= @car.plate_number %></span>
  </h1>
  <%= render(
    partial: "office/shared/actions/cars/buttons",
    locals: {back_button_url: office_car_park_path(@car_park)}
  )%>
</div>

<div class="container">
  <%= render "office/shared/tabs/cars/nav_tabs" %>

  <div class="container">
    <div class="d-flex justify-content-end my-2">
      <%= link_to new_office_car_park_car_offer_path(@car_park, @car), class: "btn btn-primary btn-sm", data: {turbo: true, turbo_frame: dom_id(Offer.new)} do %>
        <i class="bi bi-plus"></i>
        <%= t(".new_offer") %>
      <% end %>
    </div>


    <%= turbo_frame_tag Offer.new %>

    <div class="d-flex my-2">
      <div class="col-12">
        <%= turbo_frame_tag "offers", class: "list-group list-group-numbered" do %>
          <%= render @car.offers %>
        <% end %>
      </div>
    </div>
  </div>
</div>
