<%= turbo_frame_tag car_insurance, class: "car-status-card" do %>
  <p class="car-status-card__title"><%= localize_car_insurance_kind(car_insurance.kind) %></p>
  <div class="dropdown options-dropdown car-status-card__options">
    <button
      class="options-dropdown__button"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <%= vite_image_tag("images/office/menu-dots.svg") %>
    </button>
    <ul
      class="dropdown-menu"
      aria-labelledby="dropdownMenuButton1"
    >
      <li class="dropdown-item">
        <%= link_to t(".edit"), edit_office_car_park_car_car_insurance_path(@car_park, @car, car_insurance), class: "link link-dark text-decoration-none" %>
      </li>
      <li class="dropdown-item">
        <%= link_to t(".destroy"), office_car_park_car_car_insurance_path(@car_park, @car, car_insurance), class: "link link-dark text-decoration-none", data: {turbo_method: :delete, turbo_confirm: t(".sure?")} %>
      </li>
    </ul>
  </div>
  <div class="car-status-card__dates">
    <span><%= car_insurance.start_at.strftime("%d.%m.%Y") %></span>
    <div class="car-status-card__dates-line">
      <hr />
    </div>
    <span><%= car_insurance.end_at.strftime("%d.%m.%Y") %></span>
  </div>
  <p class="car-status-card__expiration">
    Осталось: <span><%= distance_of_time_in_words(Date.current, car_insurance.end_at, include_seconds: true) %></span>
  </p>
  <span class="car-status-card__status car-status-card__status--active">
    <%= car_insurance.active? ? t(".active") : t(".inactive") %>
  </span>
<% end %>
