<%= form_with model: [:office, owner, car, offer], html: {data: {turbo: turbo}} do |f| %>
  <%= f.hidden_field :car_id, value: car.id %>

  <div class="form-check form-switch">
    <%= f.label :published, class: "form-check-label" %>
    <%= f.check_box :published, class: "form-check-input", checked: "checked" %>
  </div>

  <div class="base-input">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= error_field(@errors, :title) %>
  </div>

  <div>
    <%= f.label :prices %>
    <% owner.price_range.price_range_cells.order(id: :asc).each do |price_range_cell| %>
      <div class="base-input mt-2">
        <%= f.fields_for :prices do |pf| %>
          <%= pf.label "#{price_range_cell.from} – #{price_range_cell.to} дней", for: "offer_prices_#{price_range_cell.range}" %>
          <%= pf.text_field price_range_cell.range, value: f.object.prices[price_range_cell.range.to_s], data: {mask: "price"} %>
        <% end %>
      </div>
    <% end %>
    <%= error_field(@errors, :offer, :prices) %>
  </div>

  <div class="mt-2">
    <div class="base-input">
      <%= f.label :mileage_limit_id %>
      <%= f.select :mileage_limit_id, owner.mileage_limits.order(id: :asc).map { |mileage_limit| ["#{mileage_limit.title} – #{mileage_limit.value} км", mileage_limit.id] }, {include_blank: false} %>
    </div>
  </div>

  <div class="mt-2">
    <%= f.submit t(".submit"), class: "base-button base-button--green base-button--sm" %>
    <%= link_to t(".cancel"), office_car_park_car_path(@car_park, @car), class: "base-button base-button--grey base-button--sm", data: {turbo_frame: "_top"} %>
  </div>
<% end %>
