<div class="d-flex justify-content-between align-items-center">
  <h1>
    Тарифы
    <span class="text-secondary small fs-5 font-monospace"><%= @car.mark_title %></span>
    <span class="text-secondary small fs-5 font-monospace"><%= @car.plate_number %></span>
  </h1>
  <div>
    <%= link_to office_car_park_car_path(@car.owner, @car), class: "btn btn-sm btn-outline-primary" do %>
      <i class="bi bi-box-arrow-left"></i>
    <% end %>
    <%= link_to new_office_car_park_car_offer_path(@car.owner, @car), class: "btn btn-sm btn-outline-primary", data: {turbo: true, turbo_frame: dom_id(Offer.new)} do %>
      <i class="bi bi-journal-plus"></i>
      Добавить тариф
    <% end %>
  </div>
</div>


<div class="container">
  <%= turbo_frame_tag Offer.new %>

  <div class="list-group">
    <%= turbo_frame_tag "offers" do %>
        <%= render @offers %>
    <% end %>
  </div>
</div>


