<%= form_with model: [:office, @client], html: {data: {controller: "clients-form"}} do |f| %>
  <div class="base-input">
    <%= f.label :kind %>
    <%= f.select :kind, Client::KINDS.map { |kind| [t("activerecord.attributes.client.kinds.#{kind}"), kind]}, {include_blank: false}, class: "form-select", data: {action: "clients-form#changeKind", "clients-form-target": "kind"} %>
  </div>

  <div data-clients-form-target="individualForm">
    <%= render "individual", f: f %>
  </div>

  <div data-clients-form-target="legalForm">
    <%= render "legal", f: f %>
  </div>

  <%= f.submit t(".submit"), class: "base-button base-button--green base-button--sm" %>

  <%= link_to :back, class: "base-button base-button--grey base-button--sm" do %>
    <%= t(".cancel") %>
  <% end %>
<% end %>
