<!DOCTYPE html>
<html>
  <head>
    <title>Easyrent|Office</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'office', "data-turbo-track": "reload", defer: true %>
    <%= yield :style %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class="container">
      <%= turbo_frame_tag "flash" do %>
        <%= render "layouts/flash" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
