<!DOCTYPE html>
<html>
  <head>
    <title>Easyrent|Office</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'office', "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg bg-light sticky-top">
      <div class="container-fluid">
        <%= link_to "Easyrent", office_root_path, class: "navbar-brand" %>
        <% if office_user_signed_in? %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-lg-flex align-item-center justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to t(".car_parks"), office_user_car_parks_path(current_office_user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t(".cars"), "#", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t(".bookings"), "#", class: "nav-link" %>
              </li>
            </ul>
            <%= link_to t(".sign_out"), destroy_office_user_session_path, method: :delete, class: "btn btn-dark mr-4" %>
          </div>
        <% end %>
      </div>
    </header>
    <div class="container">
      <% if flash.any? %>
        <% flash.each do |key, msg| %>
          <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
            <% if msg.is_a?(Hash) %>
              <% msg.each do |field, m| %>
                <p><%= "#{field} – #{m.join}" %></p>
              <% end %>
            <% else%>
              <%= msg %>
            <% end %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
