<%= form_with model: [:office, @car_park, @additional_service], html: {class: "additional_service"} do |f| %>
  <%= f.hidden_field :slug %>
  <%= f.hidden_field :owner_id, value: @car_park.id %>
  <%= f.hidden_field :owner_type, value: @car_park.class.name %>

  <div class="row-lg row">
    <div class="col-lg-6 col-12">
      <div class="input-group">
        <%= f.label :title, class: "input-group-text" %>
        <%= f.select :title, options_for_select(AdditionalService::SERVICES.map { |service| [I18n.t("activerecord.attributes.additional_service.services.#{service}"), service] }, selected: f.object.title), {include_blank: false}, class: "form-select" %>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <%= f.label :kind, class: "input-group-text" %>
        <%= f.select :kind,options_for_select(AdditionalService::KINDS.map { |kind| [I18n.t("activerecord.attributes.additional_service.kinds.#{kind}"), kind] }, f.object.kind), {include_blank: false}, class: "form-select" %>
      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="input-group">
        <%= f.label :price, class: "input-group-text" %>
        <%= f.number_field :price, class: "form-control" %>
      </div>
    </div>

    <div class="col-lg-2 col-12">
      <%= link_to office_car_park_additional_services_path(@car_park), class: "btn btn-sm btn-secondary" do %>
        <i class="bi bi-x"></i>
      <% end %>

      <%= f.button nil, class: "btn btn-sm btn-success" do %>
        <i class="bi bi-check"></i>
      <% end %>
    </div>
  </div>
<% end %>
