<%= form_with model: [:office, @car_park, @additional_service], html: {class: "additional_service"} do |f| %>
  <%= f.hidden_field :slug %>
  <%= f.hidden_field :owner_id, value: @car_park.id %>
  <%= f.hidden_field :owner_type, value: @car_park.class.name %>

  <div class="row-lg row">
    <div class="col-4">
      <div class="input-group">
        <%= f.label :title, class: "input-group-text" %>
        <%= f.text_field :title, class: "form-control", data: {transliterate: true, "transliterate-target-field" => "#{dom_class(@additional_service)}[slug]"} %>
      </div>
    </div>
    <div class="col-4">
      <div class="input-group">
        <%= f.label :price, class: "input-group-text" %>
        <%= f.number_field :price, class: "form-control" %>
      </div>
    </div>

    <div class="col-4">
      <%= link_to office_car_park_additional_services_path(@car_park), class: "btn btn-sm btn-secondary" do %>
        <i class="bi bi-x"></i>
      <% end %>

      <%= f.button nil, class: "btn btn-sm btn-success" do %>
        <i class="bi bi-check"></i>
      <% end %>
    </div>
  </div>
<% end %>
